@using Class12Demo.ViewModels
@model List<Class12Demo.ViewModels.Movie> 

@{
   // var movie = ViewData["movie"] as Movie;
    //var test = ViewData["test"];
}


@foreach(var s in @Model)
{
    <p>@s.Title</p>
}
<br />
<br />







