@model Class26Demo.Models.LoginViewModel
    @{ 
        Layout = "_Layout";
    }
<h2> Login Page</h2>
<form  method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br />

    <label asp-for="RememberMe">
        <input type="checkbox" asp-for="RememberMe" />
        @Html.DisplayNameFor(m => m.RememberMe)
    </label>
<button type="submit">Login</button>    

</form>