@model class28Demo.Models.RegisterViewModel;

<form method="post">

    <div asp-validation-summary="All"></div>
    <h4>Create Your Account </h4>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span> <br /> <br />

    <label asp-for="Birthday"></label>
    <input asp-for="Birthday" />
    <span asp-validation-for="Birthday"></span> <br /> <br />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span> <br /> <br />

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span> <br /> <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span><br /> <br />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span><br /> <br />

    <button type="submit">Register</button>

</form>
