@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<style>
    .MyBox{
        background-color: lightpink;
 
    }
    .AustinsBox {
        background-color: aquamarine;

    }
    .MiyasBox {
        background-color: forestgreen;

    }

    .jumbotron{
        background-color: lemonchiffon;
    }
</style>

<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" 
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> 
        <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">One</a>
            </li>
            <li class="active">
                <a href="#">Two</a>
            </li>
        </ul>
    </div>
</div>

<div class="jumbotron text-center">
    <h1>.NET 401 Class 43 Demo</h1>
    <p>This is super duper duper fun</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 MyBox">
           <p>This is my box</p> 
        </div>
        <div class="col-sm-4 AustinsBox">
            <p>Austin's Box</p>
        </div>
        <div class="col-sm-4 MiyasBox">
           <p> Miyas Box </p>
        </div>

    </div>
</div>

This is my home controller view!!!